body {
    background: yellow;
    box-sizing: border-box;
    h1 {
      box-shadow: 0 0 0 20px black;
      color: green;
      display: flex;
    }
}
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.css-nano,
.css_nano + p,
[class*='css_nano'],
.css_nano {
    /* cssnano will remove this comment */
    display: flex;
    font-weight: normal;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 2.5rem;
    padding: 1.75rem;
    width: calc(50rem - (2 * 1.75rem));
}
