$yellow: rgba(250, 250, 82, 1);
$yellow-5: rgba(250, 250, 82, .5);
$yellow-2: rgba(250, 250, 82, .2);
$green: rgb(174, 174, 5);
$green-5: rgba(174, 174, 5, .5);
$green-1: rgba(174, 174, 5, .1);
$beige: #fefee7;
$gray: #a6a6a6;

$white: #fff;
$black: #000;
