@import '../../../assets/scss/styles';

header {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: $white;
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo-title,
  .logo-img {
    color: $green;
  }
  .logo-title {
    padding: 25px;
    font-size: 30px;
  }
  .logo-img {
    margin: auto 0;
    padding: 15px;
    font-size: 70px;
  }
}
