@import '../../../assets/scss/styles';

header {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: $white;
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo-title,
  .logo-img {
    padding: 30px;
    font-size: 20px;
    color: $green;
  }
  .logo-img {
    font-size: 30px;
  }
}
