@import '../../../assets/scss/styles';

.serch-input {
  border-radius: 5px;
  border: 1px solid $green;
  width: 100%;
  padding: 10px 15px;
  &:focus {
    outline-color: $green;
  }
}
.filters-block {
  .filter-item {
    cursor: pointer;
  }
}
