@import '../../../assets/scss/styles';

.tags-block,
.search-block,
.filters-block {
  padding: 0 30px;
}
.tags-block,
.filters-block {
  width: 20%;
  min-width: 150px;
}
.search-block {
  flex: 1 1 auto;
}
.post {
  &-item {
    &.selected {
      outline: 1px solid $gray;
    }
  }
}
