@import './../assets/scss/vars/vars';
main {
  text-align: center;
  background-color: $beige;
  border: 1px solid $yellow;
  h1 {
    color: $gray;
  }
  img {
    background-color: $yellow;
    border: 1px solid $gray;
    margin: 0 auto;
  }
}
